/*----------Light Mode----------*/

// $light-black: 

$light-primary: #2f7a11;
$light-on-primary: #f0fee7;
$light-primary-container: #bff79f;
$light-on-primary-container: #255215;

$light-secondary: #527643;
$light-on-secondary: #f5f9f4;
$light-secondary-container: #b4cda8;
$light-on-secondary-container: #374c2f;

$light-tertiary: #dbac25;
$light-on-tertiary: #fdfced;
$light-tertiary-container: #f0e897;
$light-on-tertiary-container: #6c411b;

$light-neutral-surface: #f6f7f6;
$light-neutral-surface-container-01: #ffffff;
$light-neutral-surface-container-02: #e2e6e1;
$light-neutral-surface-container-03: #c5cdc2;
$light-neutral-surface-container-04: #94a38f;
$light-neutral-surface-container-05: #7b8b76;
$light-neutral-on-surface: #171c17;
$light-neutral-on-surface-variant: #343c33;
$light-neutral-outline: #3e493c;
$light-neutral-outline-variant: #60705c;
$light-neutral-scrim: #000;

$light-states-alert: #f24141;
$light-states-on-alert: #ffffff;
$light-states-alert-container: #fef2f2;
$light-states-on-alert-container: #811b1b;

$light-states-error: #bc1919;
$light-states-on-error: #ffffff;
$light-states-error-container: #fee2e2;
$light-states-on-error-container: #460909;

$light-states-warning: #ffea00;
$light-states-on-warning: #000;
$light-states-warning-container: #fff0d3;
$light-states-on-warning-container: #82330c;

$light-states-success: #10a95d;
$light-states-on-success: #ffffff;
$light-states-success-container: #dbfdec;
$light-states-on-success-container: #03301c;

/*----------Dark Mode----------*/

$dark-primary: #3ba010;
$dark-on-primary: #f0fee7;
$dark-primary-container: #bff79f;
$dark-on-primary-container: #255215;

$dark-secondary: #638f51;
$dark-on-secondary: #f5f9f4;
$dark-secondary-container: #b4cda8;
$dark-on-secondary-container: #374c2f;

$dark-tertiary: #e2c636;
$dark-on-tertiary: #fdfced;
$dark-tertiary-container: #f0e897;
$dark-on-tertiary-container: #6c411b;

$dark-neutral-surface: #171c17;
$dark-neutral-surface-container-01: #000000;
$dark-neutral-surface-container-02: #2e342d;
$dark-neutral-surface-container-03: #343c33;
$dark-neutral-surface-container-04: #3e493c;
$dark-neutral-surface-container-05: #4b5948;
$dark-neutral-on-surface: #f6f7f6;
$dark-neutral-on-surface-variant: #c5cdc2;
$dark-neutral-outline: #94a38f;
$dark-neutral-outline-variant: #60705c;
$dark-neutral-scrim: #ffffff;

$dark-states-alert: #fa6f6f;
$dark-states-on-alert: #ffffff;
$dark-states-alert-container: #fef2f2;
$dark-states-on-alert-container: #811b1b;

$dark-states-error: #e23636;
$dark-states-on-error: #ffffff;
$dark-states-error-container: #fee2e2;
$dark-states-on-error-container: #460909;

$dark-states-warning: #fbff41;
$dark-states-on-warning: #000;
$dark-states-warning-container: #fff0d3;
$dark-states-on-warning-container: #82330c;

$dark-states-success: #1bcc74;
$dark-states-on-success: #ffffff;
$dark-states-success-container: #dbfdec;
$dark-states-on-success-container: #03301c;
