.overview {
  position: relative;
  width: 100%;
  height: 100%;
}

.view-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  overflow: hidden;
}

.map-box {
  position: absolute;
  transition: transform 1s ease;
}

.interaction-cover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: transparent;
}

.interaction-cover:active {
  cursor: grabbing;
  // cursor: pointer;
}

.map-image {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}
