.chat-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--1x);
  border-radius: var(--1x);
  gap: var(--1x);
  cursor: pointer;
  background-color: var(--neutral-surface);
}

.message-content-container {
  display: flex;
  gap: var(--1x);
  flex-grow: 1;
}

.profile-image {
  width: var(--4x-half);
  height: var(--4x-half);
  border-radius: 50%;
  background-color: var(--neutral-surface-container-03);
  flex-shrink: 0;
}

.message-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message-meta-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  align-self: stretch;
  flex-shrink: 0;
}
