.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 79.2rem;
  height: 60%;
  position: relative;
  border-radius: var(--r-1, 8px);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  background: var(--neutral-surface, #f6f7f6);
}

.chat-list-area {
  flex: 1 1 50%;
  min-width: 0px;
  height: 100%;
}

.open-chat-area {
  flex: 1 1 50%;
  min-width: 0px;
  height: 100%;
}
