.profile-image {
  width: var(--4x-half);
  height: var(--4x-half);
  border-radius: 50%;
  background-color: var(--neutral-surface-container-03);
  flex-shrink: 0;
}

.message-area {
  flex-grow: 1;
  width: 100%;
  min-height: 0px;
}

.message-input-box {
  width: 100%;
  height: 11.2rem;
  flex-shrink: 0;
}
