.text {
  width: auto;
  display: -webkit-box; /* Flexbox 모델을 사용하여 다중 줄 자르기 설정 */
  -webkit-box-orient: vertical; /* 세로 방향으로 박스를 설정 */
  overflow: hidden; /* 넘치는 텍스트 숨기기 */
  text-overflow: ellipsis; /* 넘치는 텍스트에 '...' 표시 */
  word-break: break-all;
  /* tag */

  &.tag-p,
  &.tag-div,
  &.tag-span {
    font-style: normal;
    line-height: normal;

    /* font */

    &.font-pretendard {
      font-family: 'Pretendard';

      /* type */

      &.type-display {
        /* size */

        &.size-large {
          font-size: 5.6rem;
          font-weight: 800;
        }
        &.size-medium {
          font-size: 4.8rem;
          font-weight: 700;
        }
        &.size-small {
          font-size: 3.6rem;
          font-weight: 600;
        }
      }
      &.type-headline {
        /* size */

        &.size-large {
          font-size: 3.2rem;
          font-weight: 800;
        }
        &.size-medium {
          font-size: 2.8rem;
          font-weight: 700;
        }
        &.size-small {
          font-size: 2.4rem;
          font-weight: 600;
        }
      }
      &.type-title {
        /* size */

        &.size-large {
          font-size: 2.4rem;
          font-weight: 800;
        }
        &.size-medium {
          font-size: 1.8rem;
          font-weight: 700;
        }
        &.size-small {
          font-size: 1.4rem;
          font-weight: 600;
        }
      }
      &.type-body {
        /* size */

        &.size-large {
          font-size: 1.6rem;
          font-weight: 400;
        }
        &.size-medium {
          font-size: 1.4rem;
          font-weight: 400;
        }
        &.size-small {
          font-size: 1.2rem;
          font-weight: 400;
        }
      }
      &.type-label {
        /* size */

        &.size-large {
          font-size: 1.4rem;
          font-weight: 400;
          letter-spacing: -0.28px;
        }
        &.size-medium {
          font-size: 1.2rem;
          font-weight: 400;
          letter-spacing: -0.24px;
        }
        &.size-small {
          font-size: 1rem;
          font-weight: 400;
          letter-spacing: -0.2px;
        }
      }
    }
    &.font-outfit {
      font-family: 'Outfit';

      /* type */

      &.type-display {
        /* size */

        &.size-large {
          font-size: 5.6rem;
          font-weight: 800;
        }
        &.size-medium {
          font-size: 4.8rem;
          font-weight: 700;
        }
        &.size-small {
          font-size: 3.6rem;
          font-weight: 600;
        }
      }
      &.type-headline {
        /* size */

        &.size-large {
          font-size: 3.2rem;
          font-weight: 800;
        }
        &.size-medium {
          font-size: 2.8rem;
          font-weight: 700;
        }
        &.size-small {
          font-size: 2.4rem;
          font-weight: 600;
        }
      }
      &.type-title {
        /* size */

        &.size-large {
          font-size: 2.4rem;
          font-weight: 800;
        }
        &.size-medium {
          font-size: 1.8rem;
          font-weight: 700;
        }
        &.size-small {
          font-size: 1.4rem;
          font-weight: 600;
        }
      }
      &.type-body {
        /* size */

        &.size-large {
          font-size: 1.6rem;
          font-weight: 400;
        }
        &.size-medium {
          font-size: 1.4rem;
          font-weight: 400;
        }
        &.size-small {
          font-size: 1.2rem;
          font-weight: 400;
        }
      }
      &.type-label {
        /* size */

        &.size-large {
          font-size: 1.4rem;
          font-weight: 400;
          letter-spacing: -0.28px;
        }
        &.size-medium {
          font-size: 1.2rem;
          font-weight: 400;
          letter-spacing: -0.24px;
        }
        &.size-small {
          font-size: 1rem;
          font-weight: 400;
          letter-spacing: -0.2px;
        }
      }
    }
  }
  &.tag-strong,
  &.tag-em {
  }

  /* color */

  @include content-color;
  // @include content-color-hover;

  /* align */

  &.align-left {
    text-align: left;
  }
  &.align-center {
    text-align: center;
  }
  &.align-right {
    text-align: right;
  }

  /* text-shadow */
  @include text-shadow;
}
